{% extends "base.html" %}
{% load static %}

{% block css %}
{{ block.super }}
<link href="{% static 'css/list_view.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<section class="light">
	<div class="container py-2">
		<div class="h1 text-center text-dark" id="pageHeaderTitle">Events</div>
        {% for obj in objects %}
		<article class="postcard light yellow">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title yellow"><a href="{{ obj.get_absolute_url }}">{{obj.name}}</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>{{obj.date}}
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">{{obj.description}}</div>
				<ul class="postcard__tagbox">
					<li class="tag__item">
						<i class="fas fa-tag mr-2"></i>{{obj.time}}</li>
					{% if enable_edit %}
						<li class="tag__item btn btn-primary">
							<a href="#"><i class="mr-2"></i>Edit</li></a>
					{% endif %}
					{% if enable_delete %}
					<li class="tag__item btn btn-danger">
						<a href="{{ obj.get_delete_url }}"><i class="mr-2"></i>Delete</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</article>
        {% endfor %}
	</div>
</section>
{% endblock content %}